.btnTS {
  -fx-background-color: #fff5c1;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-padding: 20px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 4, 0, 2, 2);
  -fx-pref-width: 118px;
  -fx-pref-height: 118px;
}

.btnTS:hover {
  -fx-background-color: #99b179; /* leicht grünlicher Hover-Effekt */
  -fx-scale-x: 1.09;
  -fx-scale-y: 1.09;
}

.btnTS:pressed {
  -fx-scale-x: 1;
  -fx-scale-y: 1;
  -fx-translate-y: 2px;
}

.close-btn {
  -fx-background-color: #e74c3c;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-background-radius: 50%;
  -fx-min-width: 30px;
  -fx-min-height: 30px;
  -fx-font-size: 14px;
  -fx-cursor: hand;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0.3, 0, 1);
}
.close-btn:hover {
  -fx-background-color: #c0392b;
}

.level-card {
  -fx-background-color: rgba(10, 10, 20, 0.7);
  -fx-background-radius: 16;
  -fx-border-radius: 16;
  -fx-padding: 16;
  -fx-effect: dropshadow(gaussian, black, 4, 0, 0, 2);
  -fx-transition: all 0.2s ease-in-out; /* Für CSS3-Effekt simuliert */
}

.level-card:hover {
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
  -fx-cursor: hand;
}

.level-title {
  -fx-text-fill: white;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
}

.level-description {
  -fx-text-fill: lightgray;
  -fx-font-size: 12px;
}

.start-btn {
  -fx-background-color: #5e73c2;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-padding: 6 12;
  -fx-background-radius: 8;
  -fx-cursor: hand;
}

.start-btn:hover {
  -fx-background-color: #788be0;
}
