.btnTS {
  -fx-background-color: #fff5c1;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-padding: 20px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 4, 0, 2, 2);
  -fx-pref-width: 105px;
  -fx-pref-height: 105px;
}

.btnTS:hover {
  -fx-background-color: #99b179; /* leicht grünlicher Hover-Effekt */
  -fx-scale-x: 1.09;
  -fx-scale-y: 1.09;
}

.btnTS:pressed {
  -fx-scale-x: 1;
  -fx-scale-y: 1;
  -fx-translate-y: 2px;
}
